<!-- async dialog pop out when press "add" button, disappear normally -->
<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
{{ aaa }}
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">
        <form id="opsDataForm">
          <label for="coName">公司名称( * )：</label>
          <input type="text" id="cName" class="form-control" size="25" value="{{c.name}}">
          <br>
          <label for="contactpeople">联系人员：</label>
          <input type="text" id="cperson" class="form-control" size="25" value="{{c.person}}">
          <br>
          <label for="tel">联系电话：</label>
          <input type="tel" id="cphone" class="form-control" size="25" value="{{c.phone}}">
          <br>
          <label for="appGroup">后台权限域名：</label>
          <textarea rows="3" id="cUsedomain" class="form-control" placeholder="多个应用分组以英文的;分割，>切记!">{{c.domain}}</textarea>
          <br>
          <label for="remark">备注信息：</label>
          <input type="text" id="cInfo" class="form-control" size="25" value="{{c.info}}">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="addOrModify">js设置</button>
      </div>
    </div>
  </div>
</div>
