    <link href="/css/bootstrap.min.css" rel="stylesheet">
  	<script src="/js/jquery.min.js"></script>
<h1>{{ .start }}</h1>
<h2 id="ht"></h2>

<script>
$.ajax({
	url:'/show',
	method:'get',
	success:function(data) {
		console.log(data)
		$('#ht').html(data)
	},
})
</script>
