<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>{{.metatitle}}</title>

    <!-- Add custom CSS here -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
  	<script src="/js/jquery.min.js"></script>
  </head>

  <body> 

{{ yield }} 

  <h1>{{ current }}</h1>
  
    <!-- JavaScript -->

  </body>

  <script>
  </script>
</html>

